@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Kanit:wght@500&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#root{
    width: 100%;
    height: 100%;
}


#navbar {
    background-color: white;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #ddd; /* Adding a border line to the right side */

}


.nav-item {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-item:hover, .nav-item.active {
    background-color: #e1e1e1;
}

#content {
    margin-left: 300px;
    height: 100%;
    background-color: #f0f0f0; /* Changed from blue to a light grey */

}

#logoimg{
    width: 250px;
    margin: 20px 0px 20px 0px;
}

#line{
    border-bottom: 1px solid #ddd;
    width: 100%;
}


#settingsButton{
    height: 40px;
    margin: 0px 10px;
}

#companyNameSettings{
    margin-left: 10px;
    max-width: 210px;
    overflow: hidden;
    font-weight: 600;
}

#navBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 0.75px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: auto;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }



  .nav-item.active {
    background-color: #f0f0f0;
}
