body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {

    width: 50vh;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    /* Centering styles */
    position: absolute; /* or 'fixed' depending on the use case */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h2{
    padding-bottom: 20px;
}


#confirm {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: #2889f2;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #357ae8;
}


#logo{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
}

#google-logo{
    height: 50px;
    background-color: white;
}

#table{
    padding-right: 30px;
    width: 100%;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Added for consistent box sizing */
}



button:hover {
    background-color: #004494;
}




